body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    background-color: rgba ( hsl(197, 6%, 78%));
    margin: auto;
    text-align: center;
    article:first-child {
        h2 {
            color: #658DA7;
            font-weight: 600;
        }
        .service-line {
            background-color: #c1d5db;
            margin: 20px auto;
            width: 10%;
            height: 3px;
            border: none;
        }
        .service-sous-titre {
            text-align: center;
            color: #6f6E6E;
            font-style: oblique;
        }
    }
    .service-grid-cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        background-color: rgba hsl(197, 6%, 78%);
        .service-cards {
            display: inline;
            max-width: 28%;
            background-color: #fff;
            border: none;
            border-radius: 10px;
            margin: 2%;
        }
    }
}